<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="row">
        <form class="col-lg-6" method="post">
                <div class="form-group">
                    <label class="" for="exampleFormControlTextarea1">코드</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="code"></textarea>
                    <button type="submit" class="btn btn-group-lg btn-primary mb-2">OK</button>
                </div>
        </form>
        <div class="col-lg-6 form-group">
            <label>실행결과</label>
            <textarea class="form-control" rows="10" name="exec">{{output}}</textarea>
        </div>
    </div>
</body>
</html>